<div class="item-list">
    <form class="form-inline filter-form">
        <div class="form-group pull-right">
            <button class="btn btn-sm btn-primary" ng-click="addItem()"><i class="fa fa-plus-circle"></i> Aggiungi nuovo</button>
        </div>
        <div class="clearfix"></div>
    </form>

    <ul class="todo-list">
        <li ng-repeat="item in items" class="item">
            <div class="item" ng-click="selectItem(item)" ng-class="selectedItem == item ? 'selected' : ''">
                <span>{{item.title}}</span>
                <span class="due-date pull-right">scadenza: {{item.due_date | date: "dd/MM/yyyy HH:mm"}}</span>
            </div>
        </li>
    </ul>
</div>
