<div class="messages">
    <div class="alert alert-success" style="display:none">{{flashMessage}}</div>
</div>
<div class="actions">
    <a href="#" title="cancella" id="delete" ng-click="deleteItem(selectedItem.id)"><i class="fa fa-trash-o"></i></a>

</div>
<form ng-submit="submit()">
    <div class="form-group">
        <input type="text" name="title" class="form-control" id="title" placeholder="titolo" ng-model="selectedItem.title"/>
    </div>
    <div class="form-group">
        <input type="text" name="description" class="form-control" id="description"
               placeholder="descrizione" ng-model="selectedItem.description"/>
    </div>
    <div class="form-group">
        <textarea name="body" class="form-control" id="body" placeholder="note" ng-model="selectedItem.body"></textarea>
    </div>
    <input type="submit" class="btn btn-primary btn-sm pull-right" value="Salva" ng-disabled="scope.updating === true || !selectedItem">

    <div class="clearfix"></div>
</form>