<div class="item-list">
    <form class="form-inline filter-form">
        <div class="form-group">
            <select id="completed-filter"
                    ng-model="filter['filter[completed]']"
                    ng-change="refresh()"
                    ng-options="field.value as field.label for field in completeOptions"
                    class="form-control"
                    ></select>
        </div>
        <div class="form-group">
            <label for="ordering-field">Ordina:</label>
            <select id="ordering-field"
                    ng-model="ordering.field"
                    ng-change="updateOrdering()"
                    ng-options="field.value as field.label for field in ordering.fields"
                    class="form-control"
                    ></select>
        </div>
        <div class="form-group">
            <select id="ordering-type"
                    ng-model="ordering.type"
                    ng-change="updateOrdering()"
                    ng-options="field.value as field.label for field in ordering.types"
                    class="form-control"
                    ></select>
        </div>
        <div class="form-group pull-right">
            <button class="btn btn-sm btn-primary" ng-click="addItem()"><i class="fa fa-plus-circle"></i> Aggiungi nuovo</button>
        </div>
        <div class="form-group pull-right search-field">
            <label for="search"><i class="fa fa-search"></i></label>
            <input type="text" id="search" placeholder="cerca" ng-model="search" class="form-control">
        </div>
        <div class="clearfix"></div>
    </form>

    <ul class="todo-list">
        <li ng-repeat="item in items | orderBy: orderingFilter | filter: search" class="item">
            <div class="item" ng-click="selectItem(item)" ng-class="selectedItem == item ? 'selected' : ''">
                <input type="checkbox" ng-checked="item.completed" ng-model="item.completed" ng-click="update(item)"/>
                <span>{{item.title}}</span>
                <span class="due-date pull-right">scadenza: {{item.due_date | date: "dd/MM/yyyy HH:mm"}}</span>
            </div>
        </li>
    </ul>
</div>
