html { height: 100%; }
body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue' Helvetica Arial;
  font-weight: 300;
}

// navbar
div#navbar {
  box-shadow: 1px 2px 7px #B1AFAF;
  li a{
    display: inline-block;
  }
}
// gravatar image
img.gravatar{
  border-radius: 40px;
  height: 45px;
  border: 2px solid #ccc;
  width: auto;
}
