// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// layout
html { height: 100%; }
body{
  height: 100%;
}

div.container {
  height: 100%;
  width: 100%;
}

div.header {
  height: 50px;
  width: 100%;
  h3{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
  }
}

// item detail form
div.item-detail-container {
  height: 100%;
  padding: 20px;
}

div.item-detail {
  padding: 5px;
  height: 100%;
  box-shadow: 1px 2px 7px #B1AFAF;
}

textarea#body {
  height: 50px;
  transition: 0.3s;
}
textarea#body:focus {
  height: 150px;
}

// item list
div.item-list-container {
  height: 100%;
  padding: 20px;
}

div.item-list {
  padding: 5px;
  box-shadow: 1px 2px 7px #B1AFAF;
}

ul.todo-list {
  list-style: none;
  padding: 0 0 0 15px;
}

ul.todo-list {
  li {
    width: 100%;
  }
}

li div.item {
  min-height: 25px;
  padding: 5px;
  border: 1px solid #ccc;
  background: linear-gradient(#FFFFFF, #F3F2F2);
  border-radius: 3px;
  margin: 5px 0;
}

li div.item.selected{
  background: linear-gradient(#F3F2F2, #FFFFFF);
  font-weight: bold;
}