<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
    <%= render "layouts/partials/navbar" %>
    <div ng-app="todoApp">
        <div ng-view></div>
    </div>
=======
>>>>>>> 02d8c8e46a33a47d2ef6f78db6be810d299057bd
</body>
</html>
